<md-list layout="column">

    <md-list-item ng-click="$ctrl.toggleSideNav()">
        <md-icon md-font-set="material-icons">
            person
        </md-icon>
        <p>
            Profil
        </p>
    </md-list-item>

    <md-list-item ng-click="$ctrl.toggleSideNav()">
        <md-icon md-font-set="material-icons">
            search
        </md-icon>
        <p>
            Szukaj
        </p>
    </md-list-item>

    <md-list-item ng-click="$ctrl.toggleSideNav()">
        <md-icon md-font-set="material-icons">
            library_music
        </md-icon>
        <p>
            Ulubione
        </p>
    </md-list-item>

    <md-list-item ng-click="$ctrl.toggleSideNav()">
        <md-icon md-font-set="material-icons">
            settings
        </md-icon>
        <p>
            Ustawienia
        </p>
    </md-list-item>

</md-list>